body {
  background-color: black;
  margin: 7%;
  overflow: hidden;
  /* border: white solid 1px; */
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell {
  border: white solid 1px;
  width: 100px;
  height: 100px;
  color: white;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.row {
  display: flex;
}

#reset,
#numbers,
#difficulty {
  color: white;
  background-color: black;
  border: white solid 1px;
  padding: 5px 15px;
  margin: 30px 20px;
}

#overlay {
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  text-shadow: 2px 2px 8px rgb(192, 4, 4);
  color: rgb(192, 4, 4);
  margin: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: show 2s ease-out forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
